ion-content {
    --padding-bottom: 15px;
    --padding-end: 15px;
    --padding-start: 15px;
    --padding-top: 15px;
    font-family: "Montserrat-Regular";
    font-size: 16px;
}
ion-header {
    display: none;
}

ion-button {
    font-family: "Montserrat-Bold";
}
.apt-icon {
    margin-top: 100px;
    margin-left: 10px;
}

.login-button {
    margin-top: 20px;
}
