<ion-header no-border>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="re-container" ></div>

  <div class='apt-icon'>
    <img src="../../../assets/imgs/apticon.svg" alt="">
  </div>

  <div *ngIf="otpTriggered">

    <div class="login-content">
      <p>Enter your mobile number to receive an OTP for your login</p>
    </div>

    <div class="login-input">
      <ion-item>
        <ion-label position="floating">Mobile no.</ion-label>
        <ion-input type="text" [(ngModel)]="mobileNumber"></ion-input>
      </ion-item>
    </div>

    <div class="login-button">
      <ion-button expand="block" fill="outline" color="secondary" (click)="onOtpSend()">
        Send OTP
      </ion-button>
    </div>

  </div>

  <div *ngIf="!otpTriggered">
    <div class="login-content">
      <p>Enter the OTP you've received to authenticate</p>
    </div>

    <div class="login-input">
      <ion-item>
        <ion-label position="floating">OTP</ion-label>
        <ion-input type="text" [(ngModel)]="code"></ion-input>
      </ion-item>
    </div>

    <div class="login-button">
      <ion-button expand="block" fill="solid" color="secondary" (click)="verify()">
        Login Now
      </ion-button>
    </div>

  </div>



</ion-content>