<ion-content padding>
  <ion-slides (ionSlideDidChange)="slideChanged()" pager="true">
    <ion-slide>
      <div class="main-div">
        <div class="slide-img">
          <img src="../../../assets/imgs/img1.svg" alt="Slide 1 Img">
        </div>
        <div class="slide-content">
          <div class="apt-text">
            <img src="../../../assets/imgs/slide1apt.svg" alt="">
          </div>
        </div>
      </div>
    </ion-slide>


    <ion-slide>
      <div class="main-div">
        <div class="slide-img">
          <img src="../../../assets/imgs/img2.svg" alt="Slide 1 Img">
        </div>
        <div class="slide-content">
          <div class="apt-text">
            <img src="../../../assets/imgs/slide2apt.svg" alt="">
          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="main-div">
        <div class="slide-img">
          <img src="../../../assets/imgs/img3.svg" alt="Slide 1 Img">
        </div>
        <div class="slide-content">
          <div class="apt-text">
            <img src="../../../assets/imgs/slide3apt.svg" alt="">
          </div>
        </div>
      </div>

    </ion-slide>

  </ion-slides>


  <ion-button fill="clear" class="skip-button" (click)="skip()"> {{skipText}} </ion-button>
</ion-content>