ion-content {
    font-family: "Montserrat";
}

ion-item {
    --background: transparent !important;
}

h3,
p,
h4 {
    color: #fff !important;
    width: 100%;
}

.main-div {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.slide-img {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slide-content {
    height: 50%;
    background-color: var(--ion-color-primary) !important;
    display: flex;
    justify-content: center;
}
.apt-text {
    height: fit-content;
    margin-top: 30px;
}

ion-item {
    background-color: transparent !important;
}

.skip-button {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 8%;
    background-color: transparent;
    cursor: pointer;
    z-index: 5;
}

ion-button.skip-button {
    --color: #fff;
}

ion-slides {
    --bullet-background: #454545;
    --bullet-background-active: #ffffff;
}
