/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
    font-family: "Montserrat-Black";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Montserrat-Black.ttf");
  }

@font-face {
    font-family: "Montserrat-BlackItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Montserrat-BlackItalic.ttf");
  }

@font-face {
    font-family: "Montserrat-Bold";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Montserrat-Bold.ttf");
  }

@font-face {
    font-family: "Montserrat-BoldItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Montserrat-BoldItalic.ttf");
  }

@font-face {
    font-family: "Montserrat-ExtraBold";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Montserrat-ExtraBold.ttf");
  }

@font-face {
    font-family: "Montserrat-ExtraBoldItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Montserrat-ExtraBoldItalic.ttf");
  }

@font-face {
    font-family: "Montserrat-ExtraLight";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Montserrat-ExtraLight.ttf");
  }

@font-face {
    font-family: "Montserrat-ExtraLightItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Montserrat-ExtraLightItalic.ttf");
  }

@font-face {
    font-family: "Montserrat-Medium";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Montserrat-Medium.ttf");
  }

@font-face {
    font-family: "Montserrat-MediumItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Montserrat-MediumItalic.ttf");
  }

@font-face {
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Montserrat-Regular.ttf");
  }

@font-face {
    font-family: "Montserrat-SemiBold";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Montserrat-SemiBold.ttf");
  }

@font-face {
    font-family: "Montserrat-SemiBoldItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Montserrat-SemiBoldItalic.ttf");
  }