<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start' (click)='showMenu()'>
      <ion-menu-button menu='side-menu'>
        <img src='assets/imgs/menu.svg' alt=''>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>My apt.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='dashboard-notify'>
    <ion-grid>

      <ion-row>
        <ion-col size='12'>
          <div class='block-no'>
            A Block- 112
          </div>
        </ion-col>

        <ion-col class="maintenance">
          <div class='maintenance-block'>
            <ion-row>
              <ion-col size='9'>
              <ion-row>
                <ion-col size="12">
                <div class="maintenance-status">Maintenance <span>Paid</span> </div>                  
                </ion-col>
                <ion-col size="12" class="no-margin">
                <div class='year'>Rs.1932 </div>
                </ion-col>
              </ion-row>
              </ion-col>

             
              
              <ion-col size='3'>
                <div class='details'>
                  <ion-button color='warning'>Details</ion-button>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class='dashboard-main'>

      <ion-row>
        <ion-col size='3'>
          <div class='icon-box ion-activatable' (click)='iconClick()'>
            <ion-ripple-effect type='bounded'></ion-ripple-effect>
            <ion-row>
              <ion-col size='12'>
                <div class="button-icon">
                  <img src='../../../assets/imgs/faucet.svg' alt=''>
                </div>
                <div class='text-center button-title mt-1'>Request a service</div>
              </ion-col>
            </ion-row>

          </div>
        </ion-col>


        <ion-col size='3'>
          <div class='icon-box ion-activatable' >
            <ion-ripple-effect type='bounded'></ion-ripple-effect>
            <ion-row>
              <ion-col size='12'>
                <div class="button-icon">
                  <img src='../../../assets/imgs/visitor.svg' alt=''>
                </div>
                <div class='text-center button-title mt-1'>Invite your Visitors</div>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>

        <ion-col size='3'>
          <div class='icon-box ion-activatable' >
            <ion-ripple-effect type='bounded'></ion-ripple-effect>
            <ion-row>
              <ion-col size='12'>
                <div class="button-icon">
                  <img src='../../../assets/imgs/discussion.svg' alt=''>
                </div>
                <div class='text-center button-title mt-1'>Forum Discussions</div>
              </ion-col>
            </ion-row>

          </div>
        </ion-col>

             
        <ion-col size='3'>
          <img src='../../../assets/imgs/notification.svg' alt=''>
          <div class='text-center button-title  mt-1'>Notification Pannel</div>
        </ion-col>
      </ion-row> 
    </div> 
  </div>

  <div class='expand-wrapper' [ngClass]="{'collapsed': openUp}">
    <div class='content'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est facilis saepe laborum commodi facere non, vero sed
      cumque dignissimos esse.
    </div>
  </div>

  <div class='notification-area mt-10 '  >
    <div class='notification-head'>Important Notification</div>
    <div class='notification-content mt-10'>This is the notification that can be posted by the admin and everyone can
      see them.</div>
  </div>
</ion-content>