ion-title {
    text-align: start;
    font-family: "Montserrat-SemiBold";
    font-weight: bold;
    font-size: 20px;
}

ion-grid {
    padding: 0px;
}

.no-margin {
    margin: 0px !important;
    top: -10px;
}

ion-col.maintenance {
    padding: 0px;
}

ion-header::after {
    background-image: none;
    background-color: var(--ion-color-primary-contrast);
}

.sc-ion-buttons-md-s .button {
    display: block;
}

ion-content {
    --padding-top: 10px;
}

ion-col {
    .block-no {
        font-family: "Montserrat-Medium";
        font-size: 16px;
    }
    .maintenance-block {
        border: 1px solid #707070;
        background-color: var(--ion-color-dark);
        width: 100%;
        min-height: 80px;
        height: fit-content;
        padding: 10px;
        color: #ffffff;
        font-family: "Montserrat-SemiBold";
        font-size: 14px;
        padding-bottom: 0px;

        .maintenance-status {
            display: block;
            float: left;

            span {
                display: block;
                float: right;
                background-color: green;
                padding: 2px 5px;
                border-radius: 20px;
                text-align: center;
                margin-left: 20px;
                width: 60px;
            }
        }

        .year {
            margin-top: 0px;
            top: -20px;
            span {
                display: block;
                float: left;
            }
        }
        ion-button {
            height: 25px;
            --border-radius: 20px !important;
            font-family: "Montserrat-Regular";
            font-size: 10px;
        }
        .details {
            ion-button {
                --border-radius: 20px !important;
                --ion-color-contrast: #ffffff !important;
                font-family: "Montserrat-Regular";
                font-size: 10px;
            }
        }
    }
}

.icon-box {
    position: relative;
}

.dashboard-main {
    padding: 10px 0px;
    padding-bottom: 0px;
    font-family: "Montserrat-Medium";
    font-size: 12px;
    width: 100%;
    ion-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
    }

    .ion-activatable {
        color: var(--ion-color-primary);

        .button-title {
            color: var(--ion-color-dark);
        }
    }
}

.text-center {
    text-align: center;
}
.mt-1 {
    margin-top: 1px;
}
.mt-10 {
    margin-top: 10px;
}
.dashboard-notify {
    background-color: #f6f6f6;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    padding: 10px;
}

.slide-div {
    min-height: 0px;
    height: fit-content;
    width: 100%;
    background-color: var(--ion-color-primary);
    // transform: translateY(0px);
}

.notification-area {
    min-height: 100px;
    width: 100%;
    background-color: #f37676;
    color: #ffffff;
    padding: 10px 20px;
    height: fit-content;
    .notification-head {
        font-family: "Montserrat-SemiBold";
        font-size: 12px;
    }
    .notification-content {
        font-family: "Montserrat-Regular";
        font-size: 12px;
    }
}
.expand-wrapper {
    transition: all 0.2s ease-in;
    height: 0px;
    width: 100%;
    overflow: hidden;

    .content {
        padding: 20px;
    }
}
.expand-wrapper.collapsed {
    height: 120px;
    background-color: var(--ion-color-primary);
}
